.features{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.features_heading{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}

.features_heading h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
}
.features_heading p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;
}

.features_container{
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.features_container .feature_title h1{
    font-weight: 800;
font-size: 18px;
line-height: 24px;
}


.features_container .feature_container{
    width: 100% ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}

@media screen and (max-width: 1000px) {
    .features{
        flex-direction: column;
    }
    .features_heading{
        margin: 0 0 2rem 0;
    }

}

@media screen and (max-width: 550px) {
    .features_heading h1{
        font-size: 28px;
        line-height: 38px;
    }
}

